.headerStyle {
    height: 50px;
    background: darkblue;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerStyle h1 {
    color: gold;
}

.headerStyle a {
    font-size: 25px;
    color: gold;
    text-decoration: none;
    margin: 0 10px;
}

.headerStyle a[class='active'] {
    color: red;
}

.logoutStyle {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.logoutStyle p {
    color: snow;
    font-size: 17px;
}

.logoutStyle button {
    width: 60px;
    color: darkblue;
    font-size: 15px;

}