.headerStyle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: bisque;
}

.headerStyle a {
    text-decoration: none;
    color: cadetblue;
    font-size: 30px;
}

.headerStyle a[class='active']{
    color: tomato;
    text-decoration: underline;
}
